
        <header>
            <div class="container-header bg-preto">
                <div class="login-carrinho">
                    <div class="icones-header  bg-preto">
                        <a href="#"><img src="img/icons/user.svg"></a>
                    </div>
                    <div class="icones-header bg-preto">
                        <a href="#"><img src="img/icons/carrinho.svg"></a>
                    </div>
                </div>
                <div class="container-pesquisar bg-preto">
                    <form>
                        <input class="input-pesquisar" type=text name="pesquisar" id="pesquisar" placeholder="Digite o que você procura...">
                        <input type=image src="img/icons/search.svg" id="enviar-pesquisa">
                    </form>
                    <img src="img/logo-bad-monkeys.png">
                </div>
            </div>
            <nav class="bg-cinza-escuro">
                <ul>
                    <li><a class="cr-cinza-claro fonte-graduate" href="sobre.html">Sobre Nós</a>&nbsp;&nbsp; | &nbsp;&nbsp;</li>
                    <li><a class="cr-cinza-claro dropdown fonte-graduate" href="produtos.html">Produtos</a>&nbsp;&nbsp; | &nbsp;&nbsp;</li>
                    <li><a class="cr-cinza-claro fonte-graduate" href="mailto:suportelojabadmonkeys@gmail.com?subject=Questions">Fale conosco</a></li>
                </ul>
                <!-- <div class="dropdown-content">
                        <p>Camisetas</p>
                        <p>Moletons</p>
                </div> -->
            </nav>
        </header>
        <section>
            <div class="banner bg-preto"></div>
            <div class="container-principal bg-cinca-claro">
                <div class="titulo-produtos">
                        <span class="estrela cr-verde-militar">&#9733;</span>
                        <h1 class="fonte-graduate">Produtos em Destaque</h1>
                        <span class="estrela cr-verde-militar">&#9733;</span>
                </div>
                <div class="produtos-linha1">
                    <div class="produto1 bg-branco">
                        <div class="preco-produto bg-verde-militar">
                            <a href="#"><p class="cr-branco">R$00,00</p></a>
                        </div>
                    </div>
                    <div class="produto2 bg-branco">
                        <div class="preco-produto bg-verde-militar">
                            <a href="#"><p class="cr-branco">R$00,00</p></a>
                        </div>
                    </div>
                    <div class="produto3 bg-branco">
                        <div class="preco-produto bg-verde-militar">
                            <a href="#"><p class="cr-branco">R$00,00</p></a>
                        </div>
                    </div>
                </div>
                <div class="produtos-linha2">
                    <div class="produto4 bg-branco">
                        <div class="preco-produto bg-verde-militar">
                            <a href="#"><p class="cr-branco">R$00,00</p></a>
                        </div>
                    </div>
                    <div class="produto5 bg-branco">
                        <div class="preco-produto bg-verde-militar">
                            <a href="#"><p class="cr-branco">R$00,00</p></a>
                        </div>
                    </div>
                    <div class="produto6 bg-branco">
                        <div class="preco-produto bg-verde-militar">
                            <a href="#"><p class="cr-branco">R$00,00</p></a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <footer>
            <div class="container-footer bg-preto cr-branco">
                <div class="box-receba-novidades">
                    <div class="texto-box1">
                        <h2>Receba novidades</h2>
                        <p>Cadastre-se para ficar por dentro das nossas novidades</p>
                        <form>
                            <input type="text" name="receba-novidades" id="receba-novidades" placeholder="Digite o seu e-mail...">
                            <input class="bg-verde-militar cr-branco" type="submit" name="enviar-email" id="enviar-email">
                        </form>
                    </div>
                </div>
                <div class="box-redes-sociais">
                    <div class="texto-box2">
                        <h2>Dúvidas</h2>
                        <a class="cr-branco" href="pagamento.html"><p>Pagamento</p></a>
                        <a class="cr-branco" href="prazo.html"><p>Prazo de Entrega</p></a>
                        <a class="cr-branco" href="mailto:suportelojabadmonkeys@gmail.com?subject=Questions"><p>Envie sua dúvida</p></a>

                        <h2>Redes Sociais</h2>
                        <a href="https://www.instagram.com/lojabadmonkeys/" target="blank"><img src="img/icons/icon-ig.svg"></a>
                    </div>
                </div>
                <div class="box-fale-conosco">
                    <div class="texto-box3">
                        <h2>Fale conosco</h2>
                        <a class="cr-branco" href="mailto:suportelojabadmonkeys@gmail.com?subject=Questions"><p>suportelojabadmonkeys@gmail.com</p></a>
                        <p>(13) 0000-0000</p>
                    </div>
                </div>
            </div>
            <hr>
            <div class="creditos cr-cinza-escuro bg-preto">
                <p>Todos os direitos reservados a Bad Monkeys BMX</p>
            </div>
        </footer>